<div class="w-100 d-flex flex-column">
    <form asp-controller="Query" asp-action="QueryClass" onsubmit="return false;">
        <input id="Search" type="text" class="px-4 w-50 align-content-center form-control" placeholder="enter some shit"/>
        <input type="submit" hidden/>
    </form>
    <div id="QueryTable" class="px-4"></div>
    
    <script>
    $("#Search").keydown(e => {
        if (e.keyCode === 13) {
            e.preventDefault();
            $.get(`${location.protocol}//${location.host}/Query/QueryClass`, data => {
                $("#QueryTable").replaceWith(data);
            });
        }
    })
    </script>
</div>