.link {
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}

.link:hover {
    color: #1f89c5;
}

.suggestion-link {
    cursor: pointer;
    transition: 0.05s;
}

.suggestion-link:hover {
    background-color: gray;
}

div.vl {
    width: 1px;
    background-color: black;
}